[submodule "dependencies/libscript"]
	path = dependencies/libscript
	url = https://github.com/strandfield/libscript.git
[submodule "dependencies/libclang-utils"]
	path = dependencies/libclang-utils
	url = https://github.com/strandfield/libclang-utils.git
[submodule "dependencies/dynlib"]
	path = dependencies/dynlib
	url = https://github.com/strandfield/dynlib.git
